@model DatingSite.Models.ProfileModel

@{
    ViewBag.Title = Model.Username;
    Layout = "../Shared/_Layout.cshtml";
}

@if (User.Identity.Name == Model.Username)
{
    <h2>@User.Identity.Name</h2>

    <div id="ProfilePictureIndex">
        <img src="~/Content/ProfilePictures/@Model.ImagePath" style="width: 200px; height: 250px;" alt="Profile Picture"/>
    </div>
    <p>Some profile information and other assorted stuff.</p>
    
    <div class="editprofile">@Html.Partial("_UploadPhoto")</div>
    <div class="editprofile">@Html.Partial("_EditProfile")</div>

    <div id="messages">
    </div>
    
    <script>
        $.get('/api/Message/GetMessages', function(data) {
            $.each, function(){}
        $('#messages').append('<p>Avsändare: ' + data + '</p>');
        $('#messages').append('<br/>');
        $('#messages').append('<p>Land: ' + data.Country + '</p>');
    });
    </script>
}

else
{
    <h2>@Model.Username 's Profile</h2>
    <div id="ProfilePictureIndex"><img src="~/Content/ProfilePictures/@Model.ImagePath" style="width: 200px; height: 250px;" alt="Profile Picture"/>
    </div>

    <div class="profile-info-section">
        <h3>Personal information</h3>
        <p>Education: @Model.Education</p>
        <p>Occupation: @Model.Occupation</p>
        <p>Branch: @Model.Branch</p>
        <p>Civil status: @Model.CivilStatus</p>
    </div>

    <div class="profile-info-section">
        <h3>Appearance</h3>
        <p>Gender: Not implemented</p>
        <p>Length: @Model.Length</p>
        <p>Weight: @Model.Weight</p>
        <p>Eyecolor: @Model.Eyecolor</p>
        <p>Haircolor: @Model.Haircolor</p>
        <p>Origin: @Model.Origin</p>
    </div>

    @(Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", Url = "/Controllers/ApiControllers/MessageController" }))
    {
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" name="value" value="" />
                <input type="submit" value="Send" />
            </div>
        </div>
    }
}

